<p id="notice"><%= notice %></p>

<h4>ユーザー一覧</h4>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>ニックネーム</th>
      <th>email</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @admins_users.each do |admins_user| %>
      <tr>
        <td><%= admins_user.nickname %></td>
        <td><%= admins_user.email %></td>
        <td><%= link_to '詳細', admins_user_path(admins_user.id) %></td>
        <td><%= link_to '削除', admins_user_path(admins_user.id), method: :delete, data: { confirm: 'このユーザーを削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
