<h3>Admin Log in</h3>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label 'メールアドレス' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label 'パスワード' %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  
  <div class="actions">
    <%= f.submit "Log in", class: 'btn small-btn orrange-btn'%>
  </div>
<% end %>
<div class="actions">
  <%= link_to "新規登録はこちら",new_admin_registration_path,class:'btn thin-btn orrange-btn' %>
</div>
