<h3>my bookshelf</h3>

<div id="box">
  <% @reviews.each do |review| %>
    <%= link_to  review_path(id: review.id) do %>
      <div class="review">
        <div class="review-info">
          <div class="review-info-col">
            <p class="title"><%= review.book.title.truncate(17) %></p>
            <p>【著者】　<%= review.book.author.truncate(20) %></p>
            <p class="detail">【出版】　<%= review.book.publication.strftime("%Y/%m") if !review.book.publication.nil?  %></p>
            <p class="detail">【出版社】<%= review.book.publisher.truncate(20) %></p>
            <p class="detail">【ISBN】　<%= review.book.isbn %></p>
            <p> 状況　<%= review.status.status_name %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<%= paginate @reviews %>
<script>
// mazonryの設定
var $container = $('#box');
$container.imagesLoaded(function(){
  $('#box').masonry({
    itemSelector: '.review',
    columnWidth: 220,
    isFitWidth: true,
    horizontalOrder: true,
    gutter: 5
  });
});
</script>
