<h3>my bookshelf</h3>
 <div class="books-count">
  <% if @unread_books == 1 %>
    <%= image_tag 'last-book.png',:width => "20" %>
  <% elsif !@unread_books.nil? && @unread_books > 1 %>
    <% for i in 1..@unread_books do %>
      <% if i == @unread_books %>
        <%= image_tag 'last-book.png',:height => "20", :class => "last-book" %>
      <% elsif i == 1 %>
          <%= image_tag 'first-book.png',:height => "20", :class => "first-book"  %>
      <% else %>
        <%= image_tag 'first-book.png',:height => "20", :class => "first-book"  %>
      <% end %>
    <% end %>
  <% end %>
  <% if @reading_books == 1 %>
    <%= image_tag 'last-book.png',:width => "20" %>
  <% elsif !@reading_books.nil? && @reading_books > 1 %>
    <% for i in 1..@reading_books do %>
      <% if i == @reading_books %>
        <%= image_tag 'last-book.png',:height => "20", :class => "last-book" %>
      <% elsif i == 1 %>
          <%= image_tag 'first-book.png',:height => "20", :class => "first-book"  %>
      <% else %>
        <%= image_tag 'first-book.png',:height => "20", :class => "first-book"  %>
      <% end %>
    <% end %>
  <% end %>
  <% if @readed_books == 1 %>
    <%= image_tag 'last-book.png',:width => "20" %>
  <% elsif !@readed_books.nil? && @readed_books > 1 %>
    <% for i in 1..@readed_books do %>
      <% if i == @readed_books %>
        <%= image_tag 'last-book.png',:height => "20", :class => "last-book" %>
      <% elsif i == 1 %>
          <%= image_tag 'first-book.png',:height => "20", :class => "first-book"  %>
      <% else %>
        <%= image_tag 'first-book.png',:height => "20", :class => "first-book"  %>
      <% end %>
    <% end %>
  <% end %>
</div>
<div class='search'>
  <%= search_form_for @q,url: my_bookshelf_path do |f| %>
    <%= f.radio_button :status_id_eq,'',:checked => true %><%= f.label 'すべて',:for => "q_status_id_eq_" %>
    <%= f.collection_radio_buttons :status_id_eq,Status.all ,:id,:status_name %>
    <%= f.submit "検索", class: "btn small-btn green-btn thin-btn" %>
  <% end %>
</div>
<div id="box">
  <% @reviews.each do |review| %>
    <%= link_to  review_path(id: review.id) do %>
      <div class="review">
        <div class="review-info">
          <div class="review-info-col">
            <p class="title"><%= review.book.title.truncate(17) %></p>
            <p>【著者】　<%= review.book.author.truncate(20) %></p>
            <p class="detail">【出版】　<%= review.book.publication.strftime("%Y/%m") if !review.book.publication.nil?  %></p>
            <p class="detail">【出版社】<%= review.book.publisher.truncate(20) %></p>
            <p class="detail">【ISBN】　<%= review.book.isbn %></p>
            <p> 状況　<%= review.status.status_name %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<%= paginate @reviews %>
<script>
// mazonryの設定
var $container = $('#box');
$container.imagesLoaded(function(){
  $('#box').masonry({
    itemSelector: '.review',
    columnWidth: 220,
    isFitWidth: true,
    horizontalOrder: true,
    gutter: 5
  });
});
</script>
