<h3>my bookshelf</h3>
<div class='search'>
  <%= search_form_for @q,url: my_bookshelf_path do |f| %>
    <%= f.radio_button :status_id_eq,'',:checked => true %><%= f.label 'すべて',:for => "q_status_id_eq_" %>
    <%= f.collection_radio_buttons :status_id_eq,Status.all ,:id,:status_name %>
    <%= f.submit "検索", class: "btn small-btn green-btn thin-btn" %>
  <% end %>
</div>
<div id="box">
  <% @reviews.each do |review| %>
    <%= link_to  review_path(id: review.id) do %>
      <div class="review">
        <div class="review-info">
          <div class="review-info-col">
            <p class="title"><%= review.book.title.truncate(17) %></p>
            <p>【著者】　<%= review.book.author.truncate(20) %></p>
            <p class="detail">【出版】　<%= review.book.publication.strftime("%Y/%m") if !review.book.publication.nil?  %></p>
            <p class="detail">【出版社】<%= review.book.publisher.truncate(20) %></p>
            <p class="detail">【ISBN】　<%= review.book.isbn %></p>
            <p> 状況　<%= review.status.status_name %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<%= paginate @reviews %>
<script>
// mazonryの設定
var $container = $('#box');
$container.imagesLoaded(function(){
  $('#box').masonry({
    itemSelector: '.review',
    columnWidth: 220,
    isFitWidth: true,
    horizontalOrder: true,
    gutter: 5
  });
});
</script>
