<h3>new arrivals</h3>
<div id="box">
  <% @reviews.each do |review| %>
    <%= link_to review_path(review.id) do %>
      <div class="review">
        <div class="review-info">
          <div class="review-info-col">
            <h5> <%= review.title.truncate(27) %></h5>
            <p> - <%= review.user.nickname %></p>
            <p class="detail"> 更新日　<%= review.updated_at.strftime("%Y/%m/%d")%></p>
            <%= image_tag 'book.png', :width => '20' %>
            <p class="title"><%= review.book.title.truncate(17) %></p>
            <p>【著者】　<%= review.book.author.truncate(20) %></p>
            <p class="detail">【出版】　<%= review.book.publication.strftime("%Y/%m") if !review.book.publication.nil?  %></p>
            <p class="detail">【出版社】<%= review.book.publisher.truncate(20) %></p>
            <p class="detail">【ISBN】　<%= review.book.isbn %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<%= paginate @reviews,window: 2 %>
<br>
<script>
// mazonryの設定
var $container = $('#box');
$container.imagesLoaded(function(){
  $('#box').masonry({
    itemSelector: '.review',
    columnWidth: 220,
    isFitWidth: true,
    horizontalOrder: true,
    gutter: 5
  });
});
</script>
