<!DOCTYPE html>
<html>
  <head>
    <title>hon to</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  </head>

  <body>
    <div class="container">
      <header>
        <div class="row">
          <div class="col-lg-6">
            <div class="logo">
                <%= image_tag 'logo.png',:width => "80" %>
            </div>
          </div>
          <% if user_signed_in? %>
            <div class="col-lg-6 user-info">
              <%= "ログインユーザ　#{current_user.nickname}　さん　最終ログイン　#{current_user.last_sign_in_at.strftime("%Y/%m/%d %H:%M:%S")}"%>
              <%= link_to '　sign out',destroy_user_session_path, method: :delete %>
            </div>
          <% end %>
        </div>
      </header>
      <main>
        <div class="menu">
          <div class="row">
            <% if user_signed_in? %>
            <div class="col-lg-9">
              <%= link_to '　new arrivals',reviews_path %>
              <%= link_to '　my bookshelf',my_bookshelf_path %>
              <%= link_to '　reccomend','#' %>
              <%= link_to '　setting',user_path(current_user.id) %>
            </div>
            <div class="col-lg-3">
              <%= form_for(@search_book,url: books_search_path, method: 'get') do |f| %>
                <%= f.text_field :search_word %>
                <%= f.submit 'getbook' %>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "#{key}") %>
        <% end %>
        <%= yield %>
      </main>
      <footer>
        <%= render 'layouts/footer' %>
      </footer>
    </div>
  </body>
</html>
