<div class="row">
  <div class="col-lg-12">
    <h3>edit userinfo</h3>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages %>

      <div class="field">
        <%= f.label "ニックネーム" %><br />
        <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
      </div>

      <div class="field">
        <%= f.label "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label "パスワード" %><br>
        <i>(変更がない場合は空欄)</i><br />
        <%= f.password_field :password, autocomplete: "off" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> 文字以上</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label "パスワード 確認" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label "現在のパスワード" %><br>
        <i>(ユーザ情報更新のために、現在のパスワードを入力してください)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "更新", class: "btn small-btn orrange-btn" %>
        <%= link_to "戻る", user_path(current_user.id) ,class: "btn small-btn green-btn"%>
      </div>
    <% end %>
  </div>
</div>
